/* BgDiagram theme inspired by marine colors */
.bgdiagram__theme--modern-tot {
    --board-background: #E0E8D0;
    --board-frame-fill: #355E3B;
    --board-frame-stroke: #355E3B;

    --checker-white-fill: #B89B72;
    --checker-black-fill: #EFE4D8;

    --cube-fill: #e7d690;

    --dice-white-fill: #B89B72;
    --dice-white-stroke: #323434;
    --dice-dot-white-fill: #121314;
    --dice-black-fill: #EFE4D8;
    --dice-dot-black-fill: #323434;

    --point-odd-fill: #A8B89F;
    --point-even-fill: #D4A373;
    --point-odd-stroke: #211f2c;
    --point-even-stroke: #323434;

    --text-color: white;
    --text-annotation-color: deepskyblue;
    --text-crawford-color: white;

    --arrow-fill: black;
    --arrow-stroke: white;
    --arrow-annotation-fill: deepskyblue;
    --arrow-best-fill: lime;
    --arrow-best-stroke: black;
    --arrow-error-fill: gold;
    --arrow-error-stroke: black;
    --arrow-blunder-fill: red;
    --arrow-blunder-stroke: black;

    --polygon-stroke: deepskyblue;

    .bgdiagram__text--offboard,
    .bgdiagram__text--score,
    .bgdiagram__text--pipcount {
        fill: #E0E8D0;
    }
}