.bgdiagram__board {
    fill: lightgray;
    stroke: black;
    stroke-width: 4px;
}

.bgdiagram__board-frame {
    fill: white;
    stroke: black;
    stroke-width: 4px;
}

.bgdiagram__board-frame--nofill {
    fill: none;
}

.bgdiagram__checker {
    stroke: black;
    stroke-width: 2px;
}

.bgdiagram__checker--white {
    fill: white;
}

.bgdiagram__checker--black {
    fill: black;
}

.bgdiagram__cube {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}

.bgdiagram__dice {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.bgdiagram__dice-dot {
    fill: black;
}

.bgdiagram__dice--black {
    fill: black;
}

.bgdiagram__dice-dot--black {
    fill: white;
}

.bgdiagram__point {
    stroke-width: 2px;
}

.bgdiagram__point--black {
    fill: darkgray;
    stroke: black;
}

.bgdiagram__point--white {
    fill: white;
    stroke: black;
}

.bgdiagram__text {
    fill: black;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
}

.bgdiagram__text--checker--black {
    fill: white;
}

.bgdiagram__text--small {
    font-size: 20px;
}

.bgdiagram__arrow {
    stroke: white;
    stroke-width: 2px;
    fill: black;
}
