/* BgDiagram theme inspired by a real board */
.bgdiagram__theme--patriot {
    --board-background: #dbdfe5;
    --board-frame-fill: #bbbdc0;
    --board-frame-stroke: #434343;

    --checker-white-fill: #ece8e5;
    --checker-black-fill: #434343;

    --cube-fill: #e7d690;

    --dice-white-fill: #ece8e5;
    --dice-white-stroke: #211f2c;
    --dice-dot-white-fill: #211f2c;
    --dice-black-fill: #323232;
    --dice-dot-black-fill: white;

    --point-odd-fill: #48a6ee;
    --point-even-fill: #f54b3b;
    --point-odd-stroke: white;
    --point-even-stroke: white;

    --text-color: black;
    --text-annotation-color: deepskyblue;
    --text-crawford-color: white;

    --arrow-fill: black;
    --arrow-stroke: white;
    --arrow-annotation-fill: deepskyblue;
    --arrow-best-fill: lime;
    --arrow-best-stroke: black;
    --arrow-error-fill: gold;
    --arrow-error-stroke: black;
    --arrow-blunder-fill: red;
    --arrow-blunder-stroke: black;

    --polygon-stroke: deepskyblue;
}