/* BgDiagram fluo theme */
.bgdiagram__theme--fluo {
    --board-background: black;
    --board-frame-fill: black;
    --board-frame-stroke: #ca46ac;

    --checker-white-fill: #cacb01;
    --checker-black-fill: #2C75FF;

    --cube-fill: #fe59d7;

    --dice-white-fill: #cacb01;
    --dice-black-fill: #2C75FF;

    --point-odd-fill: #ff8c00;
    --point-even-fill: #06cacb;
    --point-odd-stroke: #ff8c00;
    --point-even-stroke: #06cacb;

    --text-color: black;
    --text-annotation-color: #39ff14;
    --text-crawford-color: white;

    --arrow-fill: black;
    --arrow-stroke: white;
    --arrow-annotation-fill: #39ff14;
    --arrow-best-fill: #39ff14;
    --arrow-best-stroke: black;
    --arrow-error-fill: gold;
    --arrow-error-stroke: black;
    --arrow-blunder-fill: #ff073a;
    --arrow-blunder-stroke: black;

    --polygon-stroke: deepskyblue;

    .bgdiagram__checker--white {
        fill-opacity: 80%;
        stroke: #d2d301;
        stroke-width: 2.25px;
    }

    .bgdiagram__checker--black {
        fill-opacity: 80%;
        stroke: #3d81ff;
        stroke-width: 2.25px;
    }

    .bgdiagram__checker--turn {
        fill-opacity: 100%;
        stroke: black;
        stroke-width: 1px;
    }

    .bgdiagram__dice--white,
    .bgdiagram__dice--black {
        fill-opacity: 90%;
    }

    .bgdiagram__point--odd,
    .bgdiagram__point--even {
        fill-opacity: 30%;
    }

    .bgdiagram__text--offboard,
    .bgdiagram__text--score,
    .bgdiagram__text--pipcount {
        fill: #f0f0f0;
    }

    .bgdiagram__arrow--best,
    .bgdiagram__arrow--error,
    .bgdiagram__arrow--blunder {
        fill-opacity: 80%;
    }

    .bgdiagram__polygon {
        fill: none;
        stroke: #39ff14;
        stroke-opacity: 95%;
        stroke-width: 8px;
    }
}