/* BgDiagram theme inspired by marine colors */
.bgdiagram__theme--marina {
    --board-background: #425064;
    --board-frame-fill: #8e6233;
    --board-frame-stroke: #60391a;

    --checker-white-fill: #e1bd39;
    --checker-black-fill: #374053;

    --cube-fill: #e7d690;

    --dice-white-fill: #ece8e5;
    --dice-white-stroke: #374053;
    --dice-dot-white-fill: #211f2c;
    --dice-black-fill: #211f2c;
    --dice-black-stroke: #d9d9de;
    --dice-dot-black-fill: #ece8e5;

    --point-odd-fill: #f7ad3d;
    --point-even-fill: #d9d9de;
    --point-odd-stroke: #211f2c;
    --point-even-stroke: #323434;

    --text-color: white;
    --text-annotation-color: deepskyblue;
    --text-crawford-color: white;

    --arrow-fill: black;
    --arrow-stroke: white;
    --arrow-annotation-fill: deepskyblue;
    --arrow-best-fill: lime;
    --arrow-best-stroke: black;
    --arrow-error-fill: gold;
    --arrow-error-stroke: black;
    --arrow-blunder-fill: red;
    --arrow-blunder-stroke: black;

    --polygon-stroke: deepskyblue;
}
