/* BgDiagram theme inspired by mountain colors */
.bgdiagram__theme--mountain {
    .bgdiagram__board {
        fill: #62a544;
    }

    .bgdiagram__board-frame {
        fill: #8e6233;
        stroke: #60391a;
        stroke-width: 4px;
    }

    .bgdiagram__board-frame--nofill {
        fill: none;
    }

    .bgdiagram__checker--white {
        fill: #ece8e5;
    }

    .bgdiagram__checker--black {
        fill: #211f2c;
    }

    .bgdiagram__cube {
        stroke: black;
        stroke-width: 3px;
    }

    .bgdiagram__dice {
        fill: #ece8e5;
        stroke: #211f2c;
    }

    .bgdiagram__dice-dot {
        fill: #211f2c;
    }

    .bgdiagram__dice--black {
        fill: #211f2c;
    }

    .bgdiagram__dice-dot--black {
        fill: #ece8e5;
    }

    .bgdiagram__point--odd {
        fill: #323434;
        stroke: #211f2c;
    }

    .bgdiagram__point--even {
        fill: #e5e2dd;
        stroke: #323434;
    }

    .bgdiagram__text--offboard,
    .bgdiagram__text--score,
    .bgdiagram__text--pipcount {
        fill: white;
        stroke: #60391a;
        stroke-width: 1px;
    }
}